body {
  background-color: #f9f7fe;
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #333;
}

h2 {
  margin: 0;
  font-size: 24px;
  color: #444;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  background: #f9f7fe;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  text-align: center;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background: #f9f7fe;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.city h2 {
  font-size: 22px;
  color: #222;
  text-align: left;
}

.date {
  font-size: 16px;
  opacity: 0.7;
  text-align: left;
}

.time {
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
}
#all-cities-link {
  display: none;
}
#refresh-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  text-align: center;
  transition: background-color 0.3s ease;
}

#refresh-button:hover {
  background-color: #45a049;
}

#refresh-button:focus {
  outline: none;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
}
